USE [master]
GO
/****** Object:  Database [Arenda]    Script Date: 14.12.2019 12:14:56 ******/
CREATE DATABASE [Arenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Arenda', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Arenda.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Arenda_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Arenda_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Arenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Arenda]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 14.12.2019 12:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](50) NOT NULL,
	[Adres] [varchar](50) NULL,
	[Tel] [int] NULL,
	[Serp] [int] NOT NULL,
	[Nump] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dogovor]    Script Date: 14.12.2019 12:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dogovor](
	[DID] [int] NOT NULL,
	[Date_of] [datetime] NOT NULL,
	[Date_sd] [datetime] NOT NULL,
	[Date_ok] [datetime] NOT NULL,
	[Sum] [money] NOT NULL,
	[CFK] [int] NULL,
	[SFK] [int] NULL,
	[LFK] [int] NULL,
 CONSTRAINT [PK_Dogovor] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ship]    Script Date: 14.12.2019 12:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship](
	[LID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Manufacture] [varchar](50) NOT NULL,
	[Power_dv] [int] NOT NULL,
	[Dlina] [real] NOT NULL,
	[Shirina] [real] NOT NULL,
	[Osadka] [real] NOT NULL,
	[Visota_bort] [real] NOT NULL,
	[Speed_max] [int] NOT NULL,
	[Vodoizmesch] [real] NOT NULL,
	[Rashod_topl] [real] NOT NULL,
	[Sostoyanie] [varchar](50) NOT NULL,
	[Sum_day] [money] NOT NULL,
	[LTFK] [int] NOT NULL,
 CONSTRAINT [PK_Ship] PRIMARY KEY CLUSTERED 
(
	[LID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrudnik]    Script Date: 14.12.2019 12:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudnik](
	[SID] [int] NOT NULL,
	[FIO] [varchar](50) NOT NULL,
	[Num] [int] NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[TFK] [int] NOT NULL,
 CONSTRAINT [PK_Sotrudnik] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_ship]    Script Date: 14.12.2019 12:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_ship](
	[LTID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tip_ship] PRIMARY KEY CLUSTERED 
(
	[LTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_sotrudnika]    Script Date: 14.12.2019 12:14:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_sotrudnika](
	[TID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tip_sotrudnika] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dogovor]  WITH CHECK ADD  CONSTRAINT [FK_Dogovor_Client] FOREIGN KEY([CFK])
REFERENCES [dbo].[Client] ([CID])
GO
ALTER TABLE [dbo].[Dogovor] CHECK CONSTRAINT [FK_Dogovor_Client]
GO
ALTER TABLE [dbo].[Dogovor]  WITH CHECK ADD  CONSTRAINT [FK_Dogovor_Ship] FOREIGN KEY([LFK])
REFERENCES [dbo].[Ship] ([LID])
GO
ALTER TABLE [dbo].[Dogovor] CHECK CONSTRAINT [FK_Dogovor_Ship]
GO
ALTER TABLE [dbo].[Dogovor]  WITH CHECK ADD  CONSTRAINT [FK_Dogovor_Sotrudnik] FOREIGN KEY([SFK])
REFERENCES [dbo].[Sotrudnik] ([SID])
GO
ALTER TABLE [dbo].[Dogovor] CHECK CONSTRAINT [FK_Dogovor_Sotrudnik]
GO
ALTER TABLE [dbo].[Ship]  WITH CHECK ADD  CONSTRAINT [FK_Ship_Tip_ship] FOREIGN KEY([LTFK])
REFERENCES [dbo].[Tip_ship] ([LTID])
GO
ALTER TABLE [dbo].[Ship] CHECK CONSTRAINT [FK_Ship_Tip_ship]
GO
ALTER TABLE [dbo].[Sotrudnik]  WITH CHECK ADD  CONSTRAINT [FK_Sotrudnik_Tip_sotrudnika] FOREIGN KEY([TFK])
REFERENCES [dbo].[Tip_sotrudnika] ([TID])
GO
ALTER TABLE [dbo].[Sotrudnik] CHECK CONSTRAINT [FK_Sotrudnik_Tip_sotrudnika]
GO
USE [master]
GO
